@font-face {
  font-family: 'Alibaba PuHuiTi 3.0';
  src: url('@/assets/fonts/AlibabaPuHuiTi-3-35-Thin.woff2') format('woff2');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Alibaba PuHuiTi 3.0';
  src: url('@/assets/fonts/AlibabaPuHuiTi-3-45-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Alibaba PuHuiTi 3.0';
  src: url('@/assets/fonts/AlibabaPuHuiTi-3-55-RegularL3.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Alibaba PuHuiTi 3.0';
  src: url('@/assets/fonts/AlibabaPuHuiTi-3-65-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Alibaba PuHuiTi 3.0';
  src: url('@/assets/fonts/AlibabaPuHuiTi-3-75-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Alibaba PuHuiTi 3.0';
  src: url('@/assets/fonts/AlibabaPuHuiTi-3-85-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Alibaba PuHuiTi 3.0';
  src: url('@/assets/fonts/AlibabaPuHuiTi-3-95-ExtraBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Alibaba PuHuiTi 3.0';
  src: url('@/assets/fonts/AlibabaPuHuiTi-3-105-Heavy.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Alibaba PuHuiTi 3.0';
  src: url('@/assets/fonts/AlibabaPuHuiTi-3-115-Black.woff2') format('woff2');
  font-style: normal;
  font-weight: 950;
  font-display: swap;
}
