@import './global.css';

body,
html {
  height: 100%;
  width: 100%;
  font-family: var(--font-family-base);
  font-variant-numeric: tabular-nums;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  user-select: none; /* 防止 Web 常见的文字意外选中感 */
}
#app {
  height: 100%;
  width: 100%;
}
